

body {
    background-color: #f8f5ef;
    color: #2b2b2b;
    font-family: "Roboto", serif;
    margin: 0;
}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
}

h2 {
    font-size: 30px;
    font-weight: bolder;
}

.profile-pic {
    width: 300px;
    display: block;
    margin: 10px auto;
}

header {
    text-align: center;
    background-color: rgb(10, 14, 51);
    color: white;
    padding: 5px 0;
}

section {
    padding: 10px 30px;
    margin: 20px;
    border-radius: 12px;
}

#connect {
    text-align: center;
    background-color: rgb(10, 14, 51);
    color: white;
}

#connect img {
    width: 40px;
    height: 40px;
}

#connect ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 0;
    margin:0;
}

#skills ul {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    list-style: none;
}

#skills li {
    background-color:#f6d9bf;
    border:rgb(30, 30, 83) solid 5px;
    
    margin-bottom: 15px;
    text-align: center;
    padding: 6px;
}

.container {
    position: sticky;
    top: 0;
    background-color: rgb(10, 14, 51);
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.job {
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title span {
    font-style: italic;
    font-weight: bold;
}

.job h3 {
    margin: 0;
}

button,
label,
input,
textarea {
    display: block;
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(10, 14, 51);
    border-radius: 5px;
}

textarea {
    min-height: 100px;
    padding-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}


#messages ul {
    list-style: none;
    padding: 0;
}

#messages li {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#projects ul { 
    display: flex; 
    flex-direction: column; 
    list-style: square; 
} 

#projects li { 
    background-color: white; 
    padding: 10px; 
    border:rgb(30, 30, 83) solid 3px; 
    border-radius: 5px; 
}

@media (max-width: 600px) {
    .container ul {
        flex-wrap: wrap;
    }
}